<div class="card">
  <pont-image *ngIf="pont.imageUrl" [pont]="pont"></pont-image>
  <div class="card-content">
    <span class="timestamp">1 day ago</span>
    <span class="title">{{ pont.title }}</span>
    <p class="content">
      {{ pont.what }} 
      <pont-price-display [price]="pont.price"></pont-price-display>
       @{{ pont.where }}
      </p>
    <div class="card-footer">
      <div class="left">{{ pont.votes }} Points</div>
      <div class="right"><a href (click)="toggleLike()">{{ toggleLikeText }}</a></div>
    </div>
  </div>
</div>