.card {
  display: inline-block;
  margin: 20px;
  background: white;
  width: 300px;
}
.card .card-image img {
  width: 100%;
}
.card .card-content {
  padding: 8%;
}
.card .card-content .timestamp {
  display: block;
  margin-bottom: 10px;
  color: gray;
  font-size: 12px;
}
.card .card-content .title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}
.card .card-content .card-footer {
  border-top: 1px solid gray;
  padding-top: 5%;
}
.card .card-content .card-footer .left,
.card .card-content .card-footer .right {
  display: inline-block;
  width: 49%;
}
.card .card-content .card-footer .left {
  text-align: left;
}
.card .card-content .card-footer .right {
  text-align: right;
}
