body {
	background-image: url('https://s.smore.com/fr/zzz-legacy-city-bokeh.4a2348e0.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
	vertical-align: text-top;
}

.selected > div {
    border: 1px solid red;
}